.navbar {
  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid 1px blue; */
  width: 96%;
}

.navbar__logo {
  height: 7.5em;
  width: 7.5em;
  margin-left: 2rem;
}

.proImage {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}