.navbar {
  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid 1px blue; */
  width: 96%;
}

.navbar__logo {
  height: 7.5em;
  width: 7.5em;
  margin-left: 2rem;
}

.proImage {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.navbar__dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px; 
  font-size: large; 
}

.navbar__icon{
  position: absolute;
  top: 25px;
  right: -22px;
  font-size: large;
}

.navbar__name{
  padding: 5px;
  color: rgb(130, 145, 150);
  font-size: large;

}
