
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding-top: 4em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em; 
  background-color: whitesmoke;
  border: 2px #b5b8ba solid;
  border-width: 2px;
  margin-right: 2em;
}

.post-image-container {
  margin-right:5em ;
  border: 2px #dbf9ff solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4%;
}

.post-image {
  max-width: 35em;
  height: auto;
}


.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40em;
  padding: 6em;
}

.small-icon {
  /* height:em;
  width:3em; */
  margin:.5em;
  color: rgb(109, 109, 109);
  cursor: pointer;
}

.postView__title {
  font-size: 3em;
  color: rgb(109, 109, 109);
  /* font-family: 'Sansita Swashed', cursive; */

}

.postView__description {
  font-size: 2em;
/* font-family: sans-serif;
  font-weight: lighter; */
  /* font-family: 'Sansita Swashed', cursive; */
  font-family: 'Dancing Script', cursive;
}


.like-container {
  display: flex;
  flex-flow:row nowrap;
  
}

.like-button {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;

}

.comment-container {
display:flex;
flex-flow:column nowrap;
margin-right: 2em;
}

.postView__icons{
  display: flex;
}