.landingPage__header {
  font-family: "FugazOne", sans-serif;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-top: -25px;
  position: absolute;
  top: 25px;
  right: 1px;
}

.body-landing {
  font-family: FugazOne, sans-serif;
  background-color: white;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.intro 

h3 {  
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.button {
  display: flex;
  flex-flow: row nowrap;
  width: 14em;
  margin-right: 3em;
}

.image-logo {
  height: 25em;
  width: 25em;
  padding-bottom: 0;
}

.landingPage__image {
  height: auto;
  width: 50em;
  padding-top: 2em;
}