.landingPage__header {
  font-family: "FugazOne", sans-serif;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-top: -25px;
  position: absolute;
  top: 30px;
  right: -30px;
}

.landingPage__body {
  font-family: "FugazOne", sans-serif;
  background-color: white;
  color: rgb(113, 113, 113);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingPage__sentence > p {  
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  margin-bottom: 0%;
}

.landingPage__buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 14em;
  margin-right: 3em;
}

.landingPage__logo {
  height: 30em;
  width: 30em;
  margin-top: -50px;
}

.landingPage__image {
  height: 40em;
  width: 70em;
  padding-top: 5em;

}

.landingPage__sentence{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: -35px;
}